.btn {
	background-color:#1d1d1d;
	border-width: 0px;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat';
    letter-spacing: 1px;
	font-size:20px;
	font-weight:bold;
	padding: 10px 8px;
	text-decoration:none;
}
.btn:hover {
	background-color:#494949;
}